.searchBox {
  margin-top:50px;
}

.inputBox {
  font-size:35px;
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-size: 30px;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    font-size: 30px;
  }
  :-ms-input-placeholder { /* IE 10+ */
    font-size: 30px;
  }
  :-moz-placeholder { /* Firefox 18- */
    font-size: 30px;
  }
  height:100px;
  border-top: none;
  border-left: none;
  box-shadow: none;
  border-radius: 0;
  border-right: none;
  &:focus{
    border-bottom-color: #737373;
  }
}

.inputBox:focus {
  box-shadow: none;
}

.customBtn {
  border-radius: 0;
  height: 65px;
  font-size: 20px;
  color: white;
  background-color: #737373;
  &:hover {
    background-color: #3B3B3B;
    color: white;
  }
}
.marginBottom {
  margin-bottom: 150px;
}
.smallDesktopGrid {
  @media screen and (max-width: 1450px) {
    width: 75%;
  }
}