
.center {
  vertical-align: middle;
  padding: 10px;
}

.like {
  color: tomato;
}

.songBox {
  margin-bottom: 10px;
  padding: 10px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  transition: all .6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.songBox::after {
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  opacity: 0;
  -webkit-transition: all .6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all .6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.songBox:hover {
  transform: scale(1.05, 1.05);
}
.songBox:hover::after {
  opacity: 1;
}